<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/styles/index.css" />
    <title>Learn JS</title>
  </head>
  <body>
    <!-- <h1 class="centered">Your code here 🚀</h1> -->

    <header class="header_menu">
      <nav class="menu">
        <a href="index.html" class="menu_items">
          <img src="../public/styles/apini-logo.jpg" alt="Logo apini" class="logo">
        </a>
        <a href="index.html" class="menu_items">Home</a>
        <a href="about.html" class="menu_items">About</a>
      </nav>
    </header>

    <main class="container">
      <table class="table">
        <thead class="table_head">
          <th class="table_head-title">Avatar</th>
          <th class="table_head-title">Name</th>
          <th class="table_head-title">First name</th>
          <th class="table_head-title">Email</th>
          <th class="table_head-title">Actions</th>
        </thead>
        <tbody class="table_body">
          <tr class="table_body-row">
            <td class="table_body-data"></td>
          </tr>
        </tbody>
      </table>
    </main>

    <footer class="footer_menu">
      <a href="https://github.com/ansmass" target="_blank">Anselme GitHub</a>
    </footer>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../public/js/index.js"></script>
  </body>
</html>
